[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "csdata"]
	path = csdata
	url = https://github.com/csids/csdata
	shallow = true
	registered = true
[submodule "csutil"]
	path = csutil
	url = https://github.com/csids/csutil
	shallow = true
	registered = true
[submodule "org"]
	path = org
	url = https://github.com/csids/org
	shallow = true
	registered = true
[submodule "plnr"]
	path = plnr
	url = https://github.com/csids/plnr
	shallow = true
	registered = true
